.textColor {
    color: #AAA7B1;
}

.heading {
    color: #2E2C49;
    line-height: 82px;
}

.teethLogo {
    margin-left: 340px;
    bottom: -2.5rem;
}

.bookBtn {
    background: linear-gradient(153.09deg, #5390FF 10.28%, #1660E6);
}
.doctor {
    bottom: -55px;
    left: 70px;
}